
@{
    ViewData["Title"] = "Dodaj hiso";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<h2>CreateHisa</h2>

<form method="post">
    <input type="text" name="naslov" /><br />
    <input type="text" name="lat" /><br />
    <input type="text" name="lng" /><br />
    <button type="submit">Add House</button>
</form>