@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<input type="text" name="username" id="userName" /><br />
<br />
<input type="password" name="password" id="password" />
<button type="submit" >login</button>
