
@{
    Layout = "LoginLayout";
}

<form method="POST">
    <input type="text" name="userName" type="text" id="userName" /><br />
    <br />
    <input type="password" name="pass" id="pass" />
    <button type="submit" id="login">login</button>
</form>