
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<h2>Success</h2>

<p>Login successful</p>
<p>userID : @ViewData["userID"]</p>
<p>userName: @ViewData["userName"]</p>
<p>password: @ViewData["password"]</p>

